Options +FollowSymLinks -MultiViews
DirectoryIndex app.php
RedirectMatch 403 ^/(web|templates)/?$
ErrorDocument 403 /app.php?page=403
ErrorDocument 404 /app.php?page=404

RewriteEngine On
RewriteRule ^(?:.*/)?(.*).css$ $1.css [L,NC]
RewriteRule ^(?:.*/)?([a-z]+)/?$ app.php?page=$1 [L,NC]
RewriteRule ^(?:.*/)?([a-z]+)/(edit|del)/([1-9]+)/?$ app.php?page=$1&action=$2&id=$3 [L,NC]
