@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#content {
    width: 700px;
    margin: auto;
    padding: 20px;
}

#admin {
    background-color: rgb(241,241,241);
    width: 90%;
    margin: auto;
    padding: 15px;
    overflow-x: auto;
}

body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    background-color: rgb(241,241,241);
    padding: 15px;
}

tr {
    width: 50%;
}

th, td {
    padding: 5px;
    text-align: left;
}

p {
    padding: 10px;
}

form {
    background-color: rgb(241,241,241);
    width: 450px;
    margin: auto;
    padding: 15px;
    overflow-x: auto;
}

input {
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 178px;
}

.button {
    border: none;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.button-nav {
    background-color: rgb(70,141,241);
}

.button-cancel {
    background-color: rgb(198,89,66);
}
