<h2>Réservation</h2>
<p>Le prix de la place est de 10€ jusqu'à 12 ans et ensuite de 15€.<br>
Le prix de l'assurance annulation est de 20€ quel que soit le nombre de voyageurs.</p>
<form method="post">
    <table>
        <tr>
            <th>Destination</th>
            <th><select name="destination" value="%destination%">
                    <option value="Paris">Paris</option>
                    <option value="Calcuta">কলকাতা</option>
                    <option value="Mecque">مَكَّة المكرمة</option>
                    <option value="Moscou">Москва</option>
                    <option value="Rochefort">Rochefort</option>
                    <option value="Tokyo">東京都</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Nombre de places</th>
            <th><input type="text" name="personsCounter" value="%personsCounter%"></th>
        </tr>
        <tr>
            <th>Assurance annulation</th>
            <th><input type="checkbox" name="insurance" value="checked" %insurance%></th>
        </tr>
    </table>
<button class="button1" type="submit" name="page" value="details">Suivant &#8594;</button>
<button class="button2" type="submit" name="reset">Annuler</button>
</form>
