<h2>Réservation</h2>
%warning%
<p>Le prix de la place est de 10€ jusqu'à 12 ans et ensuite de 15€.<br>
Le prix de l'assurance annulation est de 20€ quel que soit le nombre de voyageurs.</p>
<form method="post">
    <table>
        <tr>
            <th>Destination</th>
            <th><select name="destination" required>
                    <option value="%destination%" selected>%destination%</option>
                    <option value="Paris">Paris</option>
                    <option value="Calcuta">Calcuta</option>
                    <option value="Rihad">Rihad</option>
                    <option value="Moscou">Moscou</option>
                    <option value="Rochefort">Rochefort</option>
                    <option value="Tokyo">Tokyo</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Nombre de places</th>
            <th><input type="number" name="personsCounter" value="%personsCounter%" min="1" max="30" required></th>
        </tr>
        <tr>
            <th>Assurance annulation</th>
            <th><input type="checkbox" name="insurance" value="checked" %insurance%></th>
        </tr>
    </table>
<button class="button button-nav" type="submit" name="page" value="details">Suivant &#8594;</button>
<button class="button button-cancel" type="submit" name="reset">Annuler</button>
</form>
